body {
  background-color: #fceadc;
  font-family: sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  border-style: groove;
  border-color: #9e5f2b;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 10px;
}
header, footer{
  background-color: #d4baa5;
}
h1 {
    text-align: center;
}
p {
  color: #ffffff;
  font-style: italic;
  text-align: center;
  margin-top: 40px;
}
img {
  border-style: solid;
  border-width: 15px;
  border-color: #d17e3b;
  border-radius: 15px;
}
ul {
  font-family: fantasy;
}
.gallery {
  margin-left: 65px;
}
/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
